.header 
    i.fa.fa-exchange.fa-lg.toggle-sidebar
    .dropdown.notification-container 
        i.fa.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head Notifications
                span 13
            .noti-content 
                ul.list-unstyled
                    li
                        //- i.fa-solid.fa-envelope.fa-lg
                        i.fa.fa-envelope.fa-lg
                        | We can use variable notify
                    li
                        //- i.fa.fa-soild.fa-money-bill-1.fa-lg 
                        i.fa.fa-money-bill-alt.fa-lg
                        | We can use variable notify
                    li
                        //- i.fa-regular.fa-thumbs-up.fa-lg 
                        i.fa.fa-thumbs-up.fa-lg
                        | We can use variable notify
                    li
                        //- i.fa-solid.fa-envelope.fa-lg
                        i.fa.fa-envelope.fa-lg
                        | We can use variable notify

            .noti-foot.text-center: a(href="#") View All Notifications
    i.fa-solid.fa-up-right-and-down-left-from-center.fa-lg.toggle-fullscreen.header-icon