script(src="js/jquery-3.7.1.min.js") 
script(src="js/bootstrap.bundle.min.js")
//- script(src="js/popper.min.js") 
script(src="js/main.js") 
//- fontawsome
//- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")