mixin skillList 
    ul(class="list-unstyled")
        li HTML 
        li CSS 
        li Javascript 
        li Python 
        li C++
        li this is !{themeTag} theme
mixin feature(featName)
    div(class='feat', style='color : green')= featName