$midnightBlue: #2c3e50;
$midnightBlueAlt: #34495e;

$flatBlue: #2980b9;
$flatBlueAlt: #3498db;

$flatRed: #c0392b;
$flatRedAlt: #e74c3c;

$flatYellow: #f39c12;
$flatYellowAlt: #f1c40f;

$flatSilver: #bdc3c7;
$flatSelver: #ecf0f1;

