.header {
    background-color: #fff;
    padding: 20px;
    .header-icon{
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 50%;
        color: #555;
        cursor: pointer; // the mouse no appear cursor ??
        margin-left: 10px;
    }
    .toggle-sidebar {
        cursor: pointer;
        &:hover{
            color: #2980b9;
        }
    }
    .notification-container{
        display: inline-block;
        margin-left: 30px;
        margin-right: 30px;
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 0;
            top: 35px !important;
            left: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            &:before{
                content: "";
                position: absolute;
                top: -22px;
                left: 7px;
                border: solid;
                border-width: 11px;
                border-color: transparent transparent #333 transparent;
            }
            .noti-head{
                background-color: #333;
                padding: 15px;
                color: #fff;
                font-weight: bold;
                border-top-left-radius: 10px; 
                border-top-right-radius: 10px;
                span{
                    float: right;
                }
            }
            .noti-content{
                padding: 20px;
                ul{
                    margin: 0;
                    li{
                        padding: 10px;
                        font-weight: bold;
                        color: #777;
                        border-bottom: 1px solid #e9e8e8;
                        // margin-bottom: 10px;
                        font-size: 15px;
                        &:first-child{
                            margin-bottom: 0;
                            border-bottom: none;
                            border-bottom: 1px solid #e9e8e8;
                        }
                        &:last-child{
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border-bottom: none;
                        }
                        i{
                            background-color: #f7f7f7;
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            margin-right: 10px;
                            position: relative;
                            color: #fff;
                            &.fa-envelope{
                                background-color: #4caf50;
                            }
                            &.fa-money-bill-alt{
                                background-color: #2196f3;
                            }
                            &.fa-thumbs-up{
                                background-color: #ff9800;
                            }
                        }
                    }
                }
            }
            .noti-foot{
                a{
                    display: block;
                    padding: 10px;
                    border-top: 1px solid #eee;
                    text-decoration: none;
                    // &:hover{
                    //     text-decoration: none;
                    // }
                }
            }
        }
    }
    .usermenu-container {
        float: right;
        .username{
            cursor: pointer;
            .avatar{
                width: 40px;
                height: 40px;
            }
            .user{
                font-weight: bold;
                color: #777;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        .dropdown-menu{
            min-width: 600px;
            border: none;
            padding: 20px;
            top: 44px !important;
            right: 5px;
            border: 1px solid #ddd;
            &:before{
                content: "";
                position: absolute;
                top: -22px;
                right: 70px;
                border: solid;
                border-width: 11px;
                border-color: transparent transparent #ddd transparent;
            }
            .user-info{
                h3{
                    font-weight: bold;
                    color: #2980b9;
                }
                p{

                }
            }
            .activities-list{
                li{
                    padding: 10px;
                }
            }
            .usermenu-links{
                .link-box{
                    background-color: #f3f3f3;
                    padding: 10px 15px;
                    border-radius: 6px;
                    border-radius: 6px;
                    text-align: center;
                    i{
                        float: left;
                        position: relative;
                        top: 5px;
                        &.fa-gear{
                            color: #ff9800;
                        }
                        &.fa-user{
                            color:#4caf50;
                        }
                        &.fa-power-off{
                            color: brown;
                        }
                    }
                }
            }
        }
    }
}
