include includes/myVar
include includes/mymixins
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title First Pug App
        include includes/styles
    body 
        header 
            .logo logo
            .nav 
                ul 
                each val, i in myArray
                    li=i+1 +' | '+ val
        div(class="contaner") container !{themeTag}
            +skillList 
            +feature("Scorpion")
        block testingcontent
            .main This Content From Main Page
        -var friends = 3
        case friends
            when 0
                p you have no friends 
            when 1
                p you have a friend 
            default 
                p you have #{friends} friends
        include includes/scripts