.container
    #app-display
        h4 Local Weather
        #location
            | The Temperature In 
            span#city Loading...
            | , 
            span#state
        #weather
            .row
                span#wIcon
            .row
                | It's 
                span#temp 
            .row
                button.btn.btn-primary#btnToggle Convert C/F Temp

    #gold-display
        h4 Gold Price (XAU / USD)
        #gold-info
            .row
                span#gold-price Loading...
            .row
                small#gold-updated
            .row
                ul#gold-details.list-unstyled

    #quotesWidgetConverter
    .qw-copyright
        a(href="https://www.mql5.com/?utm_source=quotes.widget&utm_medium=link&utm_term=quotes.converter&utm_content=visit.mql5.quotes&utm_campaign=quotes.converter.widget" rel="noopener nofollow" target="_blank") MQL5 Algo Trading Community
    script(async type="text/javascript" data-type="quotes-widget" src="https://c.mql5.com/js/widgets/quotes/widget.js?v=3").
        {"type":"converter","filter":"EURUSD","datepicker":true,"details":true,"extras":["USD","EUR","GBP","JPY","CHF","CNH","CAD","NOK","AUD","SGD","NZD","SEK","RUB","ZAR"],"width":580,"height":340,"id":"quotesWidgetConverter","fw":"html"}
