.container
    #app-display
        h4 Local Weather
        #location
            | The Temperature In 
            span#city Loading...
            | , 
            span#state
        #weather
            .row
                span#wIcon
            .row
                | It's 
                span#temp 
            .row
                button.btn.btn-primary#btnToggle Convert C/F Temp
